body {
  margin:0;
  padding:0;
  font-family:'Vollkorn', sans-serif;
  background:#28415a;
  overflow:hidden;
}
#startup {
  padding:10px;
}
#startup button {
  border:none;
  width:100px;
  height:40px;
  background:#d23550;
  outline:none;
  cursor:pointer;
  transition: 300ms;
}
#startup button:hover {
  background:#c22540;
}
